.block {
  padding-top: 15rem;
}
.profile-picture {
  border-radius: 50%;
  box-shadow: 10px 10px 5px black;
  display: block;
  height: 20rem;
  margin: auto;
  width: 20rem;
}
.image-tag {
  text-align: center;
  word-wrap: break-word;
  padding: 2rem;
}
.button {
  display: block;
  margin: auto;
}
