<!--
  Tasks:
  -basic outline
  -arrow icon
  -collpase & expand
  -layout changing when expanded
-->

<div class="post-container animate__animated animate__bounce">
  <div class="post-heading">Heading</div>

  <div class="post-body grid grid--1x2">
    <div class="post-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore
      voluptates modi delectus, velit architecto dolor fugit exercitationem
      incidunt doloremque sit autem nihil non facilis eveniet magni error.

      <br />
      Languages:
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
      <br />
      Technologies Used:
      <ul>
        <li>-Mobile first & responsive design using HTML5/CSS3</li>
        <li>-Object oriented & BEM CSS</li>
        <li>-Responsive design</li>
        <li>-Image Optimization, Media Queries, Semantic HTML for SEO</li>
        <li>-Advanced Animation</li>
        <li>-CI Pipeline & Hosting on Firebase</li>
      </ul>
    </div>
    <div class="post-image">
      <img
        class="profile-picture"
        src="../assets/images/sample-site.png"
        alt="sample-profile-picture"
      />
    </div>
  </div>
</div>
<!---
<div class="post-container animate__animated animate__bounce">
  <div id="projects" class="projects block">
    <div class="heading">
      <h2 class="post-heading">Mosify Cloud Hosting</h2>
    </div>
    <div class="body">
      After Completing HTML & JavaScript mastery courses, the final project is a
      website for a cloud hosting provider.
      <br />
      Languages:
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
      <br />
      Technologies Used:
      <ul>
        <li>-Mobile first & responsive design using HTML5/CSS3</li>
        <li>-Object oriented & BEM CSS</li>
        <li>-Responsive design</li>
        <li>-Image Optimization, Media Queries, Semantic HTML for SEO</li>
        <li>-Advanced Animation</li>
        <li>-CI Pipeline & Hosting on Firebase</li>
      </ul>
    </div>
  </div>
</div>
-->
