.post-container {
  align-items: center;
  border-radius: 25px;
  border: 1px white solid;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
}

/* Blocks */
.block {
  height: auto;
  padding: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: black;
  }
}

.post-heading {
  font-size: 5rem;
  color: whitesmoke !important;
  text-align: center;
}

.body {
}
