<div class="post-container">
  <div id="projects" class="projects block">
    <div class="heading">
      <h2 class="post-heading">Mosify Cloud Hosting</h2>
    </div>
    <div class="body">
      After Completing HTML & JavaScript mastery courses, the final project is a
      website for a cloud hosting provider.
      <br />
      Languages:
      <ul class="li">
        -HTML
      </ul>
      <ul class="li">
        -CSS
      </ul>
      <ul class="li">
        -JavaScript
      </ul>
      <br />
      Technologies Used:
      <ul>
        <li>-Mobile first & responsive design using HTML5/CSS3</li>
        <li>-Object oriented & BEM CSS</li>
        <li>-Responsive design</li>
        <li>-Image Optimization, Media Queries, Semantic HTML for SEO</li>
        <li>-Advanced Animation</li>
        <li>-CI Pipeline & Hosting on Firebase</li>
      </ul>
    </div>
  </div>
</div>
