<router-outlet></router-outlet>

<!--
<div class="content-wrapper">
  <div class="header">
    <div class="container">
      <div class="navbar">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#projects">Projects & Experience</a></li>
          <li><a href="#certifications">Certifications</a></li>
        </ul>
      </div>
    </div>
    <div id="home" class="about-me block">
      <img
        class="profile-picture"
        src="../assets/images/profile-picture.jpeg"
        alt="sample-profile-picture"
      />
      <div class="image-tag">
        Hello, I'm Conor McGrath.
        <br />
        I'm a Full Stack Developer.
      </div>
      <button class="button button-outline">See my Work</button>
    </div>

    <div id="projects" class="projects block">
      <h2>Projects & Experience</h2>
    </div>

    <div id="certifications" class="certifications block">
      <h4>Certifications</h4>
    </div>
  </div>
</div>
-->
