<div class="content-wrapper">
  <div class="header">
    <div class="container">
      <div class="navbar">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#projects">Projects & Experience</a></li>
          <li><a href="#certifications">Certifications</a></li>
        </ul>
      </div>
    </div>
    <div id="home" class="about-me block">
      <h1>About Me</h1>
    </div>

    <div id="projects" class="projects block">
      <h2>Projects & Experience</h2>
    </div>

    <div id="certifications" class="certifications block">
      <h4>Certifications</h4>
    </div>
  </div>
</div>
