/* You can add global styles to this file, and also import other style files */
/* Global Styling*/
html {
  font-size: 62.5%;
}

body {
  background: url(../src/assets/images/Flat-Mountains.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
  font-size: 2rem;
  font-weight: 300;
}

a {
  color: dodgerblue;
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
  font-size: 3rem;
}

.content-wrapper {
  margin: auto;
  width: 80%;
}

/* Navigation */
.navbar {
  margin-bottom: 10px;
  color: whitesmoke;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  margin-bottom: 0;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: whitesmoke;
}

/* Blocks */
.block {
  height: auto;
  padding: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: black;
  }

  .profile-picture {
    border-radius: 50%;
    box-shadow: 10px 10px 5px black;
    display: block;
    height: 20rem;
    margin: auto;
    width: 20rem;
  }
  .image-tag {
    text-align: center;
    word-wrap: break-word;
    padding: 2rem;
  }
  .button {
    display: block;
    margin: auto;
  }
}
