/* You can add global styles to this file, and also import other style files */
/* Global Styling*/
html {
  font-size: 62.5%;
}

body {
  background: url(../src/assets/images/cloud-background.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  background-attachment: fixed;

  color: whitesmoke;
  font-size: 2rem;
  font-weight: 300;
  height: 100vh;
}

a {
  color: dodgerblue;
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
  font-size: 3rem;
}
